.header{
    background-color: purple;
    height:50px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    border-radius:4px;
}
.div1{
    width:100px;
}
.home{
    font-family:arial;
    font-weight:bold;
    margin-left:10px;
    color:white;
}
.div2{
    width: 1fr;
}
.search{
    width:500px;
    border-radius:100px;
    border:none;
    height:25px;
    padding-left:25px;
}
.div3{
    width:100px;
    margin-right:0px;
}
.download{
    width:90px;
    height:30px;
    border:none;
    background-color:purple;
    border-color:white;
    border-style:solid;
    border-width:1px;
    color:white;
    transition:background-color 0.15s;
}
.download:hover{
    background-color: white;
    color:purple;
}
.download:active{
    background-color:purple;
    color:white;
}

.first:hover{border-color:black;}
.second:hover{border-color:black}
.email:hover{border-color:black}
.sign:hover{background-color:white;
color:blue;}
.sign:active{background-color:blue;
color:white;}

.first{
    width:80px;
    height:25px;
    border-radius:5px;
    border-style:solid;
    margin-bottom:5px;
}
.second{
    width:80px;
    height:25px;
    border-radius:5px;
    border-style:solid;
    margin-bottom:5px;
}
.email{
    display:block;
    width:170px;
    height:25px;
    border-radius:5px;
    border-style:solid;
    margin-bottom:5px;
}
.sign{
    display:block;
    width:180px;
    height:30px;
    border-radius:5px;
    border-style:solid;
    margin-bottom:5px;
    background-color:blue;
    color:white;
    font-weight:bold;
    border-color: blue;
    cursor:pointer;
    transition: background-color 0.15s
}
.request{
 font-size:40px;
 font-family:Arial; 
 margin-bottom:20px;
 margin-top:20px;
}
.pickup{
 display:block;
 height:40px;
 width:300px;
 border:none;
 background-color:rgba(128, 128, 128, 0.26);
 margin-bottom: 10px;
 padding-left: 20px;
 font-family:arial;
}
.destination{
 display:block;
 display:block;
 height:40px;
 width:300px;
 border:none;
 background-color:rgba(128, 128, 128, 0.219);
 margin-bottom: 10px;
 padding-left: 20px;
 font-family:arial;
}
.request-now{
 width:100px;
 height:35px;
 margin-top:30px;
 margin-right:15px;
 border-radius:2px;
 border-style:solid;
 border-color:black;
 background-color:black;
 color:white;
 transition:opacity 0.15s;
}
.request-now:hover{
    opacity:0.8;
}
.request-now:active{
    opacity:0.5;
}
.schedule{
 width:120px;
 height:35px;
 margin-top:30px;
 margin-right:15px;
 border-radius:2px;
 border-style:solid;
}
.page{
    display:grid;
    grid-template-columns: 1fr 1fr;
    height:300px;
    margin-top:30px;
}
.instagram{
    display: grid;
    grid-template-columns: 1fr;
    margin-top:20px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    border-style:solid;
    border-radius:10px;
    border-color: rgba(0, 0, 0, 0.479);
    border-width: 1px;
    height: 170px;
    width:380px;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.486);
    cursor:pointer;
}
.instagram-home,
.instagram-messages,
.instagram-notifications{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left:10px;
    background-color:white;
    margin-left:0px;
    height: 55px;
    border-radius: 10px;
    transition:background-color 0.15s;
}
.instagram-home:hover{
    background-color: azure;
}
.instagram-messages:hover{
    background-color: azure;
}
.instagram-notifications:hover{
    background-color: azure;
}
.round{
    background-color: blue;
    margin-right:10px;
    border:none;
    border-radius:50px;
    padding-left:8px;
    padding-right:8px;
    padding-top:2px;
    padding-bottom:2px;
}
.linked-signup{
 display:inline-block;
 width:200px;
}
.uber-request{
 display:inline-block;
 width:350px;
}
.service{
    display:inline-block;
    border-style:solid;
    border-color:rgb(0, 0, 0);
    width:320px;
    height:100px;
    padding-left:20px;
    margin-top:30px;  
    background-color:rgb(0, 0, 0); 
}
.in-div{
    font-family:arial;
    font-size:20px;
    margin-bottom:0px;
    color:white;
    font-weight:bold;
    cursor:pointer;
}
.in-div:hover{
    opacity:0.8;
}
.in-div:active{
    opacity:0.5;
}
.in-div-2{
    margin-top:10px;
    color:rgba(255, 255, 255, 0.767);
    font-family:arial;
    font-size:14px;
}
.thumbnail-exercise{
    width:100%;
}
.facebook-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.mutual-grid{
    display:grid;
    grid-template-columns:20px 1fr;
}
.facebook-profile{
    margin-left:15px;
    margin-right:15px;
    margin-top:10px;
    margin-bottom:100px;
    border-style:solid;
    border-color:rgba(0, 0, 0, 0.205);
    transition:box-shadow 0.15s,
    margin-left 0.5s,
    margin-right 0.5s,
    margin-top 0.5s,
    margin-bottom 0.5s;
}
.facebook-profile:hover{
    box-shadow:3px 3px 3px rgba(0, 0, 0, 0.377);
    margin-left:13px;
    margin-right:17px;
    margin-top:8px;
    margin-bottom:102px;
}
.oliver{
    margin-top:0px;
    margin-bottom:3px;
    margin-left:5px;
    font-family:Segoe UI Historic;
    font-weight:bold;
    cursor:pointer;
    transition:opacity 0.15s;
}
.oliver:hover{
    opacity:0.8;
}
.oliver:active{
    opacity:0.5;
}
.mutual-friends{
    margin-top:0px;
    margin-bottom:0px;
    margin-left:5px;
    font-family:Segoe UI Historic;
    font-size:14px;
    cursor:pointer;
    color:rgb(101, 103, 107);
    transition:0.15;
}
.mutual-friends:hover{
    opacity:0.8
}
.mutual-friends:active{
    color:black;
}
.add-friend{
    margin-top:1px;
    margin-bottom:4px;
    padding-left:15px;
    padding-right:18px;
    padding-top:8px;
    padding-bottom:8px;
    background-color:rgb(27, 116, 228);
    color:white;
    border-radius:3px;
    border:none;
    margin-left:5px;
    font-family:Segoe UI Historic;
    cursor:pointer;
    transition:opacity 0.15s;
}
.add-friend:hover{
    opacity:0.8;
}
.add-friend:active{
    opacity:0.5;
}
.facebook-row{
    display:inline-block;
    width:600px;
    height:250px;
    margin-top:20px;
}
.mutual-image{
    width:20px;
    height:20px;
    border-radius:100%;
    transition:width 0.2s,
    height 0.2s;
}
.mutual-profile{
    display:inline-block;
    cursor:pointer;
    width:25px;
    height:25px;
    margin-left:5px;
    margin-right:0px;
}
.mutual-image:hover{
    width:22px;
    height:22px;
}
.mutual-friends-div{
    display:inline-block;
    height:20px;
    vertical-align: top;
    margin-right:8px;
}